* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}
.dark-mode{
  background-color: #00012c;
  color: #fff;
}
.light-mode{
  background-color: #f9f9f9;
  color: #111;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #5AB2FF;
}
.logo-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
}
.logo-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}
.bx-code-alt {
  font-size: 2rem;
  color: #000;
}
.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.nav-list {
  list-style-type: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #A0DEFF;
  transition: 0.2s all;
}
.nav-list:hover{
  background-color: #CAF4FF;
}
.nav-link {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  text-wrap: nowrap;
}
.config-function {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.bx-moon, .bx-sun{
  color: #000;
  font-size: 1.5rem;
}
#searchbar {
  border: none;
  padding: 0.2rem;
  outline: none;
  border-radius: 3px;
  text-align: center;
  color: #000;
  background-color: #A0DEFF;
  font-weight: 500;
}

#searchbar::placeholder {
  color: #000;
  font-weight: 500;
}
.toggle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.4s ease-in-out;
}
.toggle-btn{
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-bars{
  font-size: 1.3rem;
}
// MediaQuiery
@media only screen and (max-width: 1140px) {
  .nav-items, .config-function{
    display: none;
  }
  .toggle-nav{
    display: inline;
  }
  
}
// sidebar
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #5AB2FF;
  height: 100%;
  width: 350px;
  transform: translateX(-100%);
  transition: 0.8s ease-in-out;
}
.sidebar.open{
  transform: translateX(0);
}
@media only screen and (max-width: 768px) {
  .sidebar{
    width: 100%;
  }
  
}
.side-logo-contain-and-toggle{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.s-logo-contain{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
}
.close-toggle-icon{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}
.fa-x{
  font-size: 1.5rem;
  color: #000;
}
.s-side-items{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.side-items{
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
  flex-direction: column;
}
.side-list{
  padding: 0.8rem;
  width: 100%;
  background-color: #A0DEFF;
  border-radius: 0.5rem;
  list-style: none;
}
.side-link{
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
.side-config-function{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
#searchbar2{
  padding: 0.5rem;
  border: none;
  padding: 0.2rem;
  outline: none;
  border-radius: 3px;
  text-align: center;
  color: #000;
  background-color: #A0DEFF;
  font-weight: 500;
}
@media only screen and (max-width: 350px) {
  .logo-title{
    font-size: 1.1rem;
  }
  .fa-x{
    font-size: 1.3rem;
  }
}