* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 400;
  font-family: "poppins", sans-serif;
}

.dark-mode {
  background-image: url(../assets/dark-background.jpg);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
  color: #fff;
}

.light-mode {
  background-image: url(../assets/light-background.jpg);
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #111;
  transition: 0.2s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: #5ab2ff;
}

.logo-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  text-decoration: none;
}

.logo-title {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.2rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.bx-code-alt {
  font-size: 2rem;
  color: #000;
}

.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.nav-list {
  list-style-type: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #a0deff;
  transition: 0.2s all;
}

.nav-list:hover {
  background-color: #caf4ff;
}

.nav-link {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.config-function {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.bx-moon,
.bx-sun {
  color: #000;
  font-size: 1.5rem;
}

#searchbar {
  border: none;
  padding: 0.2rem;
  outline: none;
  border-radius: 3px;
  text-align: center;
  color: #000;
  background-color: #a0deff;
  font-weight: 500;
}

#searchbar::-moz-placeholder {
  color: #000;
  font-weight: 500;
}

#searchbar::placeholder {
  color: #000;
  font-weight: 500;
}

.toggle-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  transition: 0.4s ease-in-out;
}

.toggle-btn {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fa-bars {
  font-size: 1.3rem;
}

@media only screen and (max-width: 1140px) {
  .nav-items,
  .config-function {
    display: none;
  }
  .toggle-nav {
    display: inline;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #5ab2ff;
  height: 100%;
  width: 350px;
  transform: translateX(-100%);
  transition: 0.8s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

@media only screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
.side-logo-contain-and-toggle {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.s-logo-contain {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  text-decoration: none;
}

.close-toggle-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem;
}

.fa-x {
  font-size: 1.5rem;
  color: #000;
}

.s-side-items {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.side-items {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.4rem;
  flex-direction: column;
}

.side-list {
  padding: 0.8rem;
  width: 100%;
  background-color: #a0deff;
  border-radius: 0.5rem;
  list-style: none;
}

.side-link {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

.side-config-function {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#searchbar2 {
  padding: 0.5rem;
  border: none;
  padding: 0.2rem;
  outline: none;
  border-radius: 3px;
  text-align: center;
  color: #000;
  background-color: #a0deff;
  font-weight: 500;
}

@media only screen and (max-width: 350px) {
  .logo-title {
    font-size: 1.1rem;
  }
  .fa-x {
    font-size: 1.3rem;
  }
}
.section-home {
  display: flex;
  justify-content: space-between;
  height: 50vh;
  border-radius: 10px;
}

.index-text-section {
  width: 50%;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
}

.heading-contain {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}

.heading-contain h2 {
  font-size: 2rem;
  font-weight: 440;
  text-transform: capitalize;
}

.typewritter {
  border-right: 3px solid #f700ff;
  padding-right: 0.4rem;
  flex-wrap: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: blink-caret 0.75s step-end infinite;
  color: #d900ff;
  display: block;
  min-height: 1.5em;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(238, 0, 255);
  }
}
.heading-contain h2 span {
  color: #d000ff;
}

.img-index-contain {
  display: flex;
  justify-content: end;
  align-items: end;
}

#img-main {
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
  position: relative;
  z-index: 1;
}

.text-contain-index-pera {
  font-size: 1rem;
  text-transform: capitalize;
  text-transform: capitalize;
}

.button-index-contain {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 0.2rem;
}

#Openlink,
#Closelink {
  border: none;
  outline: none;
  padding: 5px 10px;
  background-color: #0a0a0a;
  color: #fff;
  text-transform: capitalize;
  border-radius: 3px;
}

.dark-mode #Openlink,
#Closelink {
  background-color: #aa00ff;
}

@media only screen and (max-width: 902px) {
  .index-text-section {
    width: 100%;
  }
  .img-index-contain {
    display: none;
  }
}
@media only screen and (max-width: 426px) {
  .index-text-section {
    padding: 0.5rem;
  }
  .heading-contain h2 {
    font-size: 1.3rem;
  }
  .text-contain-index-pera {
    font-size: 0.9rem;
  }
  .button-index-contain button {
    padding: 0.3rem;
    font-size: 0.8rem;
  }
}
.home-heading {
  margin: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  border-bottom: 1.5px solid #d900ff;
}

.h-card-container {
  display: flex;
  justify-content: space-around;
  gap: 0.5rem;
  margin: 1rem 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .h-card-container {
    flex-wrap: wrap;
  }
}
.h-card-contain {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 3px 1px rgba(78, 78, 79, 0.75);
  -webkit-box-shadow: 0px 0px 3px 1px rgba(84, 84, 84, 0.75);
  -moz-box-shadow: 0px 0px 3px 1px rgba(62, 62, 62, 0.75);
}

.h-title {
  padding: 0.5rem 0 0.5rem 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  font-weight: 450;
  background-color: #5ab2ff;
}

.h-descrip {
  padding: 0.5rem;
  background-color: #f9f9f9;
  font-size: 0.9rem;
}

.h-btn-contain {
  padding: 0.5rem;
  background-color: #f9f9f9;
}

.h-card-btn {
  border: none;
  outline: none;
  background-color: #5ab2ff;
  padding: 5px 15px;
  font-weight: 450;
  cursor: pointer;
  border-radius: 5px;
}/*# sourceMappingURL=Style.css.map */